@import './variables.css';

._cv__forms {
    width: 800px;
    height: 540px;
    padding: 20px;
    background: var(--white-color);
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--main-boxshadow);
    border-radius: 10px;
    row-gap: 30px;
}

@media (max-width: 851px) {
    ._cv__forms {
        width: 100%;
        height: fit-content;
    }
}

@media (max-width: 501px) {
    ._cv__forms {
        border-radius: 0;
        padding: 20px 10px;
    }

    ._cv__pagination {
        flex-direction: column;
        row-gap: 20px;
    }

    ._cv__prev__next {
        width: 100%;
    }
}

._cv__data {
    width: 100%;
    row-gap: 12px;
    flex-wrap: wrap;
    column-gap: 15px;
    align-items: flex-start;
}

._cv__pagination {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}

._cv__current__form {
    font-size: 14px;
    column-gap: 5px;
}

._cv__current__form span {
    font-weight: 500;
    color: var(--main-color);
}

._cv__prev__next {
    column-gap: 15px;
}