@import './variables.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font-family);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(39, 142, 255, 0.1) !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 851px) {
  body {
    height: fit-content;
  }
}


#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 501px) {
  #root {
    padding: 0;
  }
}


div, main, header, footer, ul, li, section, a, span, p {
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea, button {
  border: none;
  outline: none;
}

ul, li, ol {
  list-style: none;
}

img {
  max-width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 0;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--white-color);
  /* background: rgba(39,142,255,0.1); */
}

::-webkit-scrollbar-thumb {
  background: rgba(39,142,255,0.3);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-gradient-color);
}