@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-font-family: 'Roboto';
  --main-color: rgb(39,142,255);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(30, 39, 46);
  --violet-color: rgb(125, 95, 255);
  --yellow-color: rgb(255, 242, 0);
  --red-color: rgb(255, 56, 56);
  --green-color: rgb(50, 255, 126);
  --blue-color: rgb(56, 182, 255);

  --main-gradient-color: linear-gradient(76.8deg, rgb(9, 132, 227) 0.4%, rgba(0,180,253,1) 87.2%);
  --white-gradient-color: linear-gradient(359.3deg, rgb(255, 255, 255) 1%, rgb(255, 255, 255) 70.9%);
  --black-gradient-color: linear-gradient(109.6deg, rgba(20,30,48,1) 11.2%, rgba(36,59,85,1) 91.1%);
  --violet-gradient-color: linear-gradient(68.6deg, rgba(57,67,248,1) 38.1%, rgba(192,0,255,1) 93.1%);
  --yellow-gradient-color: linear-gradient(108.5deg, rgba(255,185,0,1) 21.1%, rgba(255,237,0,1) 80.4%);
  --red-gradient-color: linear-gradient(111.3deg, rgba(252,56,56,1) 11.7%, rgba(237,13,81,1) 81.7%);
  --green-gradient-color: linear-gradient(110deg, rgba(37,219,137,1) 7.8%, rgba(151,243,202,1) 91.6%);
  --blue-gradient-color: linear-gradient(249.1deg, rgba(11,206,250,1) -6.5%, rgba(65,46,248,1) 100.2%);

  --main-boxshadow: 0 0 5px 0 rgba(39,142,255,0.1);
  --main-border: 1px solid rgba(39,142,255,0.1);
}