@import '../../variables.css';

._image__container {
    width: 100%;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    border: 1px solid rgba(39, 142, 255, 0.2);
    border-radius: 5px;
    position: relative;
}

@media (max-width: 851px) {
    ._image__container {
        height: 75vh;
    }

    ._image__container ._select {
        width: 280px !important;
        height: 420px !important;
    }
}

._image__container ._label {
    font-size: 12.5px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    column-gap: 5px;
    position: absolute;
    z-index: 1;
    top: -7px;
    left: 13px;
    padding: 1px 8px;
    border-radius: 2px;
}

._image__container ._select {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 240px;
    height: 360px;
    border: 2px dashed rgba(39, 142, 255, 0.5);
    cursor: pointer;
    overflow: hidden;
}

._image__container ._select input[type="file"] {
    display: none;
}

._image__container ._select span {
    column-gap: 3px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 17px;
    line-height: 25px;
}

._image__container ._select span b {
    color: var(--main-color);
    font-weight: 500;
}

._image__container ._select svg {
    font-size: 150px;
    color: rgba(39, 142, 255, 0.5);
}

._image__container ._error {
    font-size: 13px;
    color: var(--red-color);
    display: flex;
    align-items: center;
    column-gap: 5px;
    height: 12px;
}